In [2]:
import numpy as np
import pandas as pd
import ast
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import nltk
from nltk.stem.porter import PorterStemmer
import pickle

In [3]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [4]:
movies=movies.merge(credits,on='title')

In [5]:
movies.shape

(4809, 23)

In [6]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [7]:
#remove budget, homepage, orignal_language, popularity, production_companies, release_date, revenue, runtime,
#spoken_languages, status, tagline, vote_average, vote_count, movie_id

In [8]:
movies=movies[['id','title','genres','overview','cast','crew','keywords']]
movies.head()

,id,title,genres,overview,cast,crew,keywords
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [9]:
movies=movies.dropna() #drop null values

In [10]:
def reformat(obj):
  L=[]
  for l in ast.literal_eval(obj):
      L.append(l['name'])
  return L

In [11]:
movies['genres']=movies['genres'].apply(reformat)
movies.head()

,id,title,genres,overview,cast,crew,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,206647,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [12]:
movies['keywords']=movies['keywords'].apply(reformat)

In [13]:
def fetch_cast(obj):
  L=[]
  cnt=0
  for l in ast.literal_eval(obj):
      if cnt!=3:
        L.append(l['name'])
        cnt+=1
      else:
        break
  return L

In [14]:
movies['cast']=movies['cast'].apply(fetch_cast)

In [15]:
movies['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [16]:
def fetch_director(obj):
  L=[]
  for l in ast.literal_eval(obj):
      if l['job']=='Director':
        L.append(l['name'])
        break
  return L

In [17]:
movies['crew']=movies['crew'].apply(fetch_director)

In [18]:
movies.head()

,id,title,genres,overview,cast,crew,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],"[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],"[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],"[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],"[based on novel, mars, medallion, space travel..."

In [20]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [21]:
movies.head()

,id,title,genres,overview,cast,crew,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],"[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],"[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],"[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[John, Carter, is, a, war-weary,, former, mili...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],"[based on novel, mars, medallion, space travel..."

In [22]:
movies['tags']=movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [23]:
movies['tags']=movies['tags'].apply(lambda x:[i.replace(" ","") for i in x])

In [24]:
movies.head()

,id,title,genres,overview,cast,crew,keywords,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],"[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],"[dc comics, crime fighter, terrorist, secret i...","[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[John, Carter, is, a, war-weary,, former, mili...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],"[based on novel, mars, medallion, space travel...","[Action, Adventure, ScienceFiction, basedonnov..."

In [25]:
movies['tags']=movies['overview']+movies['tags']

In [26]:
movies.head()

,id,title,genres,overview,cast,crew,keywords,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],"[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],"[spy, based on novel, secret agent, sequel, mi...","[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],"[dc comics, crime fighter, terrorist, secret i...","[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[John, Carter, is, a, war-weary,, former, mili...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],"[based on novel, mars, medallion, space travel...","[John, Carter, is, a, war-weary,, former, mili..."

In [27]:
new_df = movies[['id','title','tags','genres','cast','crew']]

In [28]:
new_df.head()

,id,title,tags,genres,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [29]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

<ipython-input-29-53a061086f2e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [30]:
new_df.head()

,id,title,tags,genres,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [31]:
ps=PorterStemmer()
def stem(text):
  y=[]
  for i in text.split():
    y.append(ps.stem(i))
  return " ".join(y)

In [32]:
stem('playing football')

'play footbal'

In [33]:
new_df['tags']=new_df['tags'].apply(stem)

<ipython-input-33-402dd7cb6b10>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [34]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

<ipython-input-34-242d679aab18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [35]:
new_df.head()

,id,title,tags,genres,cast,crew
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,a cryptic messag from bond’ past send him on a...,"[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...,"[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"john carter is a war-weary, former militari ca...","[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [36]:
# cv= CountVectorizer(max_features=5000,stop_words='english')
vectorizer = TfidfVectorizer(max_features=5000,stop_words='english')

In [37]:
# vectors=cv.fit_transform(new_df['tags']).toarray()
vectors=vectorizer.fit_transform(new_df['tags'])

In [38]:
vectors.shape

(4806, 5000)

In [39]:
similarity=cosine_similarity(vectors)

In [40]:
similarity[0]

array([1.        , 0.02203984, 0.03038546, ..., 0.02319866, 0.        ,
       0.        ])

In [41]:
def recommend(movie):
  movie_idx=new_df[new_df['title']==movie].index[0]
  distances=similarity[movie_idx]
  movies_list=sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:26]

  for i in movies_list:
    print(new_df.iloc[i[0]].title)

In [42]:
recommend('Batman')

Batman
Batman & Robin
Batman Returns
The Dark Knight Rises
Batman Begins
Batman
Batman Forever
The Dark Knight
Batman v Superman: Dawn of Justice
Superman
Spider-Man 2
Superman Returns
Chill Factor
Superman II
Mirrormask
Man of Steel
Green Lantern
Defendor
Superman IV: The Quest for Peace
Griff the Invisible
The Talented Mr. Ripley
The Secret in Their Eyes
Free State of Jones
Kick-Ass 2
Fantastic 4: Rise of the Silver Surfer

In [43]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])

[(0, 1.0000000000000002),
 (2409, 0.2519930130215996),
 (3730, 0.22559347561842458),
 (582, 0.19388378323858985),
 (1216, 0.18848538168904172),
 (3608, 0.17684269115072765),
 (47, 0.1730458195053612),
 (778, 0.16564313221878),
 (1204, 0.16306831442162661),
 (539, 0.1562998465801078),
 (942, 0.15459411606089474),
 (1920, 0.1542577009440469),
 (557, 0.14657202013357098),
 (507, 0.14551199601641027),
 (438, 0.1371678375038985),
 (3538, 0.1364285511289609),
 (1089, 0.13514407456470146),
 (2786, 0.1343107019292942),
 (311, 0.13380103355567788),
 (260, 0.13234936195955957),
 (74, 0.13139220820095845),
 (4048, 0.1313315488611379),
 (4336, 0.13047808864882732),
 (838, 0.12558586190032173),
 (94, 0.12356432056424219),
 (513, 0.1212433467438935),
 (322, 0.12123636936430861),
 (3675, 0.12063560345370145),
 (1071, 0.12049350870113182),
 (1348, 0.1200478497854614),
 (184, 0.11971910559078813),
 (373, 0.1194669342459123),
 (3162, 0.1191927407051544),
 (1201, 0.11897803487602246),
 (3628, 0.11857259130555578),
 (4192, 0.11838021494839401),
 (3327, 0.11761922625719838),
 (2333, 0.11639023355479056),
 (52, 0.11584665853231974),
 (529, 0.11551667535906367),
 (305, 0.11519294455185504),
 (595, 0.11490317223076468),
 (1321, 0.11313390090996842),
 (2971, 0.11159442786847058),
 (4, 0.11145785375257526),
 (2204, 0.11021334138161488),
 (1329, 0.11010460511511339),
 (1275, 0.10922433769397569),
 (300, 0.10896948610460366),
 (2584, 0.1088572631647444),
 (61, 0.10825894719463341),
 (369, 0.10774010199332867),
 (2873, 0.1077098573334934),
 (2515, 0.10761348235057654),
 (36, 0.1072611279594706),
 (83, 0.10708016907312833),
 (1344, 0.1063779193067374),
 (3954, 0.10636330505439096),
 (220, 0.10600202344457826),
 (476, 0.10537285208352587),
 (2284, 0.10509077658615557),
 (4405, 0.1044947738993573),
 (1194, 0.10352077661331877),
 (149, 0.10290669089112142),
 (2551, 0.10279392513566825),
 (1056, 0.10258433094904293),
 (577, 0.1019892732694633),
 (27, 0.10196515873824812),
 (236, 0.10182117186403455),
 (1444, 0.10132508782695217),
 (878, 0.10114183953524916),
 (3376, 0.10078719168872004),
 (2731, 0.10046719161344636),
 (495, 0.100334966720595),
 (972, 0.10029090275209537),
 (2970, 0.10004867548380403),
 (1479, 0.09961492472685347),
 (1982, 0.09858107313576149),
 (151, 0.09770157308532772),
 (3982, 0.09714673201832025),
 (1355, 0.09714663804231048),
 (579, 0.09674032150114592),
 (172, 0.09624355534351904),
 (754, 0.09597295906825903),
 (661, 0.09574335004169732),
 (843, 0.09551022962006087),
 (3409, 0.0936789048422269),
 (1774, 0.0935278196453518),
 (150, 0.09350800263692027),
 (1537, 0.09297047954078673),
 (3218, 0.0924417317367694),
 (342, 0.09178464749242057),
 (1965, 0.0913973696991078),
 (3976, 0.09108985190003138),
 (95, 0.0908338828047906),
 (1715, 0.089650155638604),
 (3999, 0.08944084644356935),
 (168, 0.08915683506219471),
 (41, 0.08872419526047044),
 (249, 0.08872098080264404),
 (973, 0.08870714061136804),
 (502, 0.08810769575396533),
 (3783, 0.08738470607047114),
 (275, 0.08736546746610377),
 (1831, 0.08707753259779302),
 (1178, 0.08620080397174873),
 (31, 0.0858697412204438),
 (1322, 0.08495607319198953),
 (3716, 0.08492758068623263),
 (67, 0.0845139740295475),
 (1166, 0.0839236681793396),
 (278, 0.08316767706758922),
 (1560, 0.08280060607781238),
 (108, 0.0827913138899415),
 (541, 0.08238501159275188),
 (1383, 0.08201214090356895),
 (692, 0.08184787748996757),
 (3630, 0.08182670132942406),
 (461, 0.0799411503454308),
 (3309, 0.07993385978294514),
 (91, 0.07973963509257256),
 (3443, 0.079276877080947),
 (1031, 0.07877812653347402),
 (931, 0.07827530661355367),
 (1616, 0.0778514435877258),
 (2547, 0.07762791203773867),
 (4538, 0.07762487504552329),
 (1378, 0.07735869102283861),
 (2760, 0.0768333357372453),
 (4230, 0.07658713376029957),
 (3736, 0.07656129881236386),
 (7, 0.07652066950077185),
 (1497, 0.0764780975590071),
 (3147, 0.07605909784882979),
 (158, 0.07579944695984112),
 (4079, 0.07577437251303214),
 (4640, 0.07552417728919056),
 (294, 0.07546010481363533),
 (3781, 0.07522447055575557),
 (2253, 0.07515506447173326),
 (1357, 0.07514710492012094),
 (3864, 0.07479513561400797),
 (549, 0.07441462756151072),
 (1938, 0.07434168031244974),
 (2644, 0.07425824143246118),
 (1488, 0.07405291870568047),
 (1220, 0.07392828204391652),
 (432, 0.07392780757172865),
 (3301, 0.0739038936428565),
 (279, 0.07350819107911293),
 (1097, 0.07344792690983402),
 (900, 0.07340866906221055),
 (3462, 0.07335121377796647),
 (1765, 0.07276706741810568),
 (26, 0.07268576270100954),
 (3235, 0.07255814217260804),
 (1015, 0.07229768628096782),
 (568, 0.07174320508843861),
 (422, 0.0717153494565831),
 (4042, 0.07148502460030223),
 (1741, 0.07127569253379269),
 (1002, 0.07101856546964906),
 (1512, 0.07080889389306401),
 (1808, 0.07050474925995119),
 (1273, 0.07044555508821729),
 (2634, 0.07032481781551793),
 (454, 0.07001038472172946),
 (2674, 0.06984179056535461),
 (1574, 0.06978576254927515),
 (17, 0.06952872720516812),
 (189, 0.06949218811080832),
 (1846, 0.06898550428916282),
 (368, 0.06886725596593052),
 (2789, 0.06880962129092055),
 (737, 0.06836165261588943),
 (2792, 0.0681019561729402),
 (775, 0.06808370643169838),
 (2496, 0.06795455435724077),
 (889, 0.06790361242304671),
 (3008, 0.0676553310542593),
 (1926, 0.06731422518367823),
 (2250, 0.06719673673974899),
 (2556, 0.06684679918876259),
 (3206, 0.06678697826603257),
 (740, 0.06638210517041075),
 (3083, 0.06590708955215681),
 (647, 0.06589755594989725),
 (2652, 0.06579453775565494),
 (3109, 0.06579367141859235),
 (3622, 0.06542728615248139),
 (4468, 0.06536671022833537),
 (111, 0.06515398616919535),
 (1745, 0.065029704501772),
 (127, 0.06492973494506916),
 (1373, 0.06469615199645383),
 (4000, 0.06429162045236703),
 (668, 0.0641202218971642),
 (643, 0.0640602643050137),
 (312, 0.0634925056199587),
 (239, 0.06342106437399178),
 (847, 0.06341268466961039),
 (3839, 0.06341053424115756),
 (2181, 0.0633903905954418),
 (2740, 0.06333741888467173),
 (3093, 0.06322254781630013),
 (581, 0.06272523496556769),
 (487, 0.062220496184493934),
 (3663, 0.06218563601958988),
 (126, 0.06205307763334286),
 (281, 0.061983371932660195),
 (1418, 0.061819226083544884),
 (2109, 0.061516231343235875),
 (2136, 0.06128360145499642),
 (2450, 0.06117454174751576),
 (1301, 0.061005524168691226),
 (2488, 0.06100487668575503),
 (1531, 0.060830912057559056),
 (1396, 0.060722089533920984),
 (1045, 0.0606021024738637),
 (1297, 0.06047621850452376),
 (18, 0.06045722190530747),
 (635, 0.06042404660792422),
 (1086, 0.06042276803780579),
 (1145, 0.060151351877016285),
 (2099, 0.060046616411258046),
 (182, 0.0600010043771953),
 (2372, 0.05980224483166545),
 (587, 0.059761137892496256),
 (85, 0.05952629127939681),
 (4545, 0.059512171261426855),
 (466, 0.05933649462483881),
 (3195, 0.059182271141177495),
 (589, 0.05917432929641368),
 (3874, 0.05911699003023957),
 (4506, 0.059114194408595236),
 (3091, 0.0591083218103797),
 (2506, 0.05905414089932234),
 (4587, 0.05904161268610229),
 (56, 0.05889228066692606),
 (206, 0.05871516247351233),
 (4198, 0.05869548007232634),
 (1274, 0.05866615397184538),
 (479, 0.058640318396584325),
 (134, 0.05858575119987732),
 (1802, 0.05856289425877903),
 (1156, 0.05823286080170767),
 (1878, 0.05810770982626878),
 (3117, 0.0579785521869213),
 (2112, 0.05792106851894999),
 (1082, 0.05766917723877232),
 (2718, 0.057566618448262066),
 (2021, 0.05748567433449304),
 (1405, 0.05747873001027514),
 (777, 0.057234469209975866),
 (1439, 0.05715613268688407),
 (87, 0.05702808869549489),
 (139, 0.056569383009228064),
 (3720, 0.056539556146957146),
 (2241, 0.05647728002325058),
 (3478, 0.056466848075908814),
 (1898, 0.05643391099452275),
 (68, 0.056230992762735424),
 (3441, 0.05606707094529889),
 (4578, 0.055855220314374815),
 (2247, 0.05585286107378188),
 (282, 0.05583582517670892),
 (4793, 0.0558107796838984),
 (2133, 0.05580801484301939),
 (2060, 0.05562233328061518),
 (1007, 0.05560881558307788),
 (449, 0.0555078303701121),
 (1823, 0.055448767154137046),
 (2660, 0.05541415102894351),
 (2999, 0.05530125819959923),
 (2159, 0.055150407629712954),
 (160, 0.05514915391532467),
 (266, 0.05492679746075807),
 (1747, 0.054893805601091326),
 (3553, 0.05482230727042799),
 (2938, 0.054390155995448816),
 (2376, 0.05416766831016343),
 (4412, 0.054137895752441795),
 (505, 0.0541356783116995),
 (2529, 0.05408986139669088),
 (1617, 0.05390182202833511),
 (564, 0.05388600355200958),
 (166, 0.053797368775841375),
 (2713, 0.05375346514294473),
 (4097, 0.05364508576558228),
 (170, 0.05349782050573581),
 (2378, 0.05337123707504497),
 (75, 0.053210619414792854),
 (859, 0.05320211490330501),
 (2169, 0.05305058547683285),
 (313, 0.05304448301329575),
 (510, 0.05299017973686923),
 (1455, 0.05294641465703179),
 (84, 0.05293957659804265),
 (614, 0.05290688398104727),
 (4268, 0.05284382120397697),
 (791, 0.052832332930114155),
 (1655, 0.052586674834431815),
 (3448, 0.05249459036543962),
 (2787, 0.05247210152012674),
 (2331, 0.0523502323803621),
 (1828, 0.052339857361206985),
 (228, 0.05210251759708836),
 (1614, 0.05201988636548604),
 (1047, 0.05195615695027019),
 (3354, 0.05194271667022866),
 (492, 0.05183943061158065),
 (2648, 0.05180963206509925),
 (808, 0.05164747058224335),
 (2772, 0.051449623983529084),
 (46, 0.051447120622360565),
 (3486, 0.05139206619789069),
 (2148, 0.05138664625760892),
 (105, 0.051358041630281),
 (1639, 0.05128744963249113),
 (1130, 0.05114123969665613),
 (3935, 0.05098007691630067),
 (1771, 0.050886942867476956),
 (812, 0.050682455881682),
 (2701, 0.05062365685595911),
 (3755, 0.050591153867118925),
 (3475, 0.05051566334975659),
 (102, 0.05050483995083846),
 (480, 0.050328150139403505),
 (1304, 0.050193497032777104),
 (4408, 0.050160467452902986),
 (2219, 0.04997858382629594),
 (2642, 0.0499664937113828),
 (307, 0.049822686008281394),
 (535, 0.04981687544074176),
 (3431, 0.04978029430536049),
 (2783, 0.049671040190254936),
 (752, 0.04963936162234078),
 (2367, 0.04963892324850805),
 (244, 0.04954537139900944),
 (939, 0.049544277769213343),
 (1945, 0.04951757376599501),
 (2093, 0.04948137979485927),
 (256, 0.04943670049422233),
 (270, 0.04934263756510156),
 (898, 0.0492118884277282),
 (187, 0.04915532212552691),
 (1667, 0.049088588396970695),
 (1109, 0.04908065249883152),
 (937, 0.04906091288060166),
 (1538, 0.04904210604209275),
 (473, 0.0489891244184795),
 (223, 0.04879759246363676),
 (123, 0.04867205039876867),
 (626, 0.048547042286583963),
 (3449, 0.04852832668016903),
 (286, 0.048504723101827296),
 (4120, 0.048336163224217396),
 (1202, 0.04833241004786558),
 (2018, 0.048206258980064386),
 (3542, 0.048195238934167155),
 (1312, 0.048147755186836026),
 (4010, 0.0480037414518559),
 (238, 0.0479907479328862),
 (1294, 0.047865025490558766),
 (1248, 0.047856224025849076),
 (787, 0.04780463671434064),
 (72, 0.047632993780641814),
 (404, 0.0476095138435488),
 (1016, 0.04742081932073194),
 (3340, 0.04735739017041259),
 (1019, 0.04724924067671721),
 (4654, 0.04716988591579935),
 (3930, 0.04716502481851241),
 (646, 0.0469943512197681),
 (624, 0.04693259452986998),
 (4673, 0.04692221997801433),
 (570, 0.046888609429507205),
 (4624, 0.046842286690087664),
 (678, 0.04675940344522834),
 (363, 0.04667043585255841),
 (2968, 0.046659700321975),
 (141, 0.046658182498073644),
 (3212, 0.04661284034360563),
 (2439, 0.04657304848213436),
 (25, 0.04657042902505048),
 (1486, 0.04652624143947025),
 (2552, 0.04632136046081234),
 (2456, 0.04622370267612828),
 (1158, 0.04608239812454526),
 (5, 0.046056280036448904),
 (81, 0.04598682500524158),
 (2075, 0.04596891116416454),
 (283, 0.04595131018856994),
 (3028, 0.04594579546382383),
 (997, 0.045937502111794495),
 (908, 0.04586510701330497),
 (2763, 0.04576303946264518),
 (870, 0.04547823060932704),
 (1149, 0.04547041020741446),
 (2689, 0.045462988145482164),
 (3060, 0.045407740520795804),
 (632, 0.045346781101841024),
 (28, 0.045324467815417824),
 (3182, 0.045229858259506615),
 (246, 0.04514936245639506),
 (4243, 0.04511880857635069),
 (2144, 0.04506973285797065),
 (1534, 0.04506633840059819),
 (262, 0.045059259611796604),
 (951, 0.045047738270338734),
 (3344, 0.044958320164053975),
 (274, 0.04489369675714833),
 (1929, 0.0447601866652565),
 (138, 0.04472352610700034),
 (1556, 0.044552362563464044),
 (785, 0.04443209505063583),
 (420, 0.044402357516711816),
 (674, 0.04433458561866976),
 (4798, 0.044310330587844),
 (365, 0.0442254804720636),
 (142, 0.04421917600110131),
 (2066, 0.0442029596110261),
 (4652, 0.044181810563329774),
 (4006, 0.04411244479066584),
 (1832, 0.04409130938521038),
 (491, 0.04407642311777482),
 (1650, 0.044028667000280915),
 (3423, 0.044026608823967715),
 (1849, 0.043988755304682034),
 (222, 0.04393459335871734),
 (1096, 0.04380325181371715),
 (687, 0.043731313754891615),
 (704, 0.043725525679537455),
 (935, 0.04370710514841708),
 (2994, 0.04370003702652076),
 (4492, 0.043660710393767975),
 (1487, 0.04360071857826856),
 (1810, 0.04358077566831028),
 (1944, 0.043571399489290855),
 (375, 0.04348528258184548),
 (43, 0.0434091405810611),
 (1884, 0.04336509108265288),
 (1161, 0.04334886795985729),
 (781, 0.04333612570278693),
 (1686, 0.0431678943720176),
 (21, 0.04305431078915505),
 (362, 0.04302811285746122),
 (1446, 0.04297158716204655),
 (2622, 0.042963232952629465),
 (3102, 0.042877784378581654),
 (4558, 0.04280132813290856),
 (1440, 0.0427765242668331),
 (2022, 0.04269903359047473),
 (2199, 0.04268162586736655),
 (2813, 0.042609772896387954),
 (3310, 0.042600093827691275),
 (1121, 0.04256520640915975),
 (2232, 0.04255377146816654),
 (331, 0.04254963146801116),
 (988, 0.042444897673035394),
 (14, 0.04238180694323482),
 (2430, 0.042349187690990754),
 (1553, 0.04231369178916525),
 (325, 0.04226487497220766),
 (131, 0.04220054554674739),
 (3430, 0.042169745275473895),
 (2478, 0.04211737925000868),
 (2892, 0.042115040982619686),
 (3834, 0.04206801413414562),
 (1957, 0.04192074566464756),
 (472, 0.041884950301470214),
 (4343, 0.04186047549316854),
 (3740, 0.041834335686590306),
 (3306, 0.04165050092300576),
 (2817, 0.04163798824359351),
 (4341, 0.041609637865868875),
 (306, 0.041484127015177605),
 (602, 0.041433067677426924),
 (3881, 0.04135203949762955),
 (254, 0.041287348003928734),
 (2712, 0.04124499717170489),
 (3634, 0.04120808912830259),
 (1018, 0.04119498038232923),
 (3074, 0.04118826063143638),
 (410, 0.041127436668858645),
 (2592, 0.0410723392350517),
 (413, 0.04101850349597069),
 (3022, 0.04095358908872055),
 (1833, 0.04092376218898101),
 (1036, 0.040841266876881575),
 (4799, 0.04077077501259895),
 (193, 0.04069743057361294),
 (179, 0.040696886283543156),
 (2632, 0.04061869386758691),
 (2650, 0.040438061199325026),
 (4591, 0.04039179116374338),
 (901, 0.04035479106835739),
 (1023, 0.04033034946955157),
 (4777, 0.040316011343639636),
 (790, 0.040159330698990026),
 (3069, 0.040118367102928605),
 (3744, 0.040111557466952316),
 (3297, 0.0401002923582004),
 (129, 0.040097591229574535),
 (2762, 0.04007158277919706),
 (634, 0.040022499254879655),
 (653, 0.04001914266191678),
 (88, 0.04000725071738521),
 (1906, 0.03999821544372389),
 (2955, 0.0399240586811984),
 (536, 0.03984665002301622),
 (963, 0.03980147602360625),
 (786, 0.03975231586185285),
 (3164, 0.03966888488166859),
 (4781, 0.039631687753100775),
 (467, 0.03963040873554288),
 (1658, 0.03933748707919396),
 (770, 0.039310554136054665),
 (799, 0.03930271803817281),
 (2203, 0.03920018297232646),
 (572, 0.03917505117115396),
 (2397, 0.03902926628649534),
 (4358, 0.0389621667405627),
 (2639, 0.03895299263526999),
 (2498, 0.038891287290498705),
 (617, 0.03886987528956401),
 (3322, 0.038811121157775214),
 (2356, 0.03879871016235243),
 (208, 0.03872236758756936),
 (3560, 0.038701883097315995),
 (1469, 0.03869901835779903),
 (855, 0.03864403451818667),
 (430, 0.0385614390016732),
 (3, 0.038559227709179904),
 (4403, 0.03855874393443487),
 (2832, 0.03853681849784324),
 (445, 0.03850736024495098),
 (501, 0.038476609403790885),
 (2645, 0.03847226880042992),
 (2448, 0.03847111182923141),
 (2856, 0.03842622230989732),
 (3392, 0.03842268426751015),
 (2115, 0.038384223706480244),
 (3737, 0.03837477056658433),
 (1290, 0.03836193801825171),
 (3176, 0.0382539871134774),
 (1120, 0.038211787594118474),
 (4510, 0.038211469153215036),
 (1278, 0.03813835118650024),
 (1473, 0.038120709207193404),
 (2386, 0.038087745309099835),
 (897, 0.038029364093340776),
 (1477, 0.038023526650528425),
 (157, 0.03793749209784657),
 (483, 0.03792010747343055),
 (3507, 0.037905543236219315),
 (2264, 0.037842514115090875),
 (3389, 0.0378127262036047),
 (680, 0.03777114702872374),
 (230, 0.037710707399397615),
 (1401, 0.03769407580912443),
 (1575, 0.03757534710133331),
 (1790, 0.03755303157418185),
 (2593, 0.037543496802284),
 (2138, 0.0375401659623305),
 (701, 0.0375148473283185),
 (2880, 0.037513284079856435),
 (4259, 0.0374973888019693),
 (875, 0.037485359594134085),
 (2686, 0.03743025902049056),
 (1004, 0.03742229752535553),
 (4483, 0.03737890381004609),
 (4348, 0.03730568965884417),
 (1171, 0.03727448051340809),
 (4205, 0.037198789317472926),
 (1700, 0.03719526670432869),
 (4256, 0.03714067540393725),
 (1775, 0.037125079738860416),
 (2840, 0.03710243170460873),
 (32, 0.03709330366731685),
 (423, 0.037060334566345866),
 (2902, 0.03703790856799012),
 (4472, 0.037036407947009894),
 (4180, 0.03686502301652117),
 (1361, 0.036827944547333985),
 (332, 0.036824709806722644),
 (4351, 0.036705129281082785),
 (1207, 0.03665480050195989),
 (2419, 0.03658892327028529),
 (490, 0.03652371210896315),
 (1231, 0.036502021410347765),
 (2072, 0.03644449612124845),
 (1249, 0.036437571798339834),
 (4331, 0.03642345807868447),
 (341, 0.03634767518444855),
 (1427, 0.03634647790810756),
 (3910, 0.036329120815858866),
 (2659, 0.03632344070167446),
 (3537, 0.03622227553718989),
 (45, 0.036192548868702136),
 (1282, 0.03598682420303293),
 (3673, 0.03593424320093963),
 (3901, 0.03591647799255584),
 (3678, 0.035888794505397524),
 (153, 0.035885294546563626),
 (866, 0.035840992269793974),
 (3851, 0.03582255613255303),
 (1519, 0.03581635617594345),
 (4125, 0.035694907536952244),
 (154, 0.03565411319250322),
 (48, 0.03563406419497479),
 (2741, 0.035616844518219885),
 (1070, 0.03552119535235384),
 (488, 0.03548264750149203),
 (169, 0.035441033100379105),
 (3152, 0.03538145698907215),
 (63, 0.035310189871289394),
 (1524, 0.03524593548281491),
 (308, 0.03516593269018078),
 (219, 0.035165340288929),
 (3072, 0.035165123302976754),
 (122, 0.03513005990967729),
 (4618, 0.03511709851224026),
 (1496, 0.03504826357384046),
 (486, 0.03500153224005955),
 (235, 0.03498657202065902),
 (2127, 0.03498645764364336),
 (234, 0.03497002012268259),
 (148, 0.03490492252485879),
 (894, 0.03485700174913357),
 (2802, 0.034796218067567414),
 (2504, 0.034774285912226706),
 (2295, 0.03475493824466226),
 (773, 0.03462784432247606),
 (835, 0.034619746634774),
 (1970, 0.03458628064578574),
 (3810, 0.0345721024674972),
 (814, 0.034559470932412184),
 (4037, 0.03454902725584012),
 (1659, 0.03446243525985884),
 (1327, 0.03443180027866996),
 (1692, 0.034385959911110674),
 (361, 0.03438194600325595),
 (2570, 0.03434168002486164),
 (654, 0.03433073654704975),
 (4657, 0.03427279593002955),
 (3905, 0.0342665416502414),
 (11, 0.0341962143897955),
 (1432, 0.03415512889589784),
 (2449, 0.034146115179285945),
 (1280, 0.034089988325300184),
 (3597, 0.0340512696000128),
 (1175, 0.03404651532035478),
 (3795, 0.0340251509489821),
 (1607, 0.03397182082474146),
 (125, 0.03392882496477634),
 (229, 0.03383446261709711),
 (2435, 0.0337864675354533),
 (3498, 0.0337780238616532),
 (334, 0.03375459019653719),
 (1237, 0.03375068146494159),
 (1191, 0.033663226946942966),
 (217, 0.03365706773735387),
 (2015, 0.03363391705225722),
 (200, 0.03363131796975806),
 (2347, 0.03358671520275422),
 (124, 0.03355041262769616),
 (2053, 0.03350295306878081),
 (4112, 0.03349889145974222),
 (38, 0.03348963400371548),
 (1883, 0.03343959027853967),
 (2663, 0.03338866261220042),
 (1586, 0.03337219005467647),
 (3515, 0.03336541344143079),
 (37, 0.033314320924115105),

In [44]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [45]:
pickle.dump(similarity,open('similarity.pkl','wb'))